.photoInfo{
	font-size: 16pt;
	margin-bottom: 50px;
}

.commentInfo{
	font-size: 12pt;
	margin: 0;
}

.lastComment{
	margin-bottom: 15px;
}

.button{
	width: 150px;
	height: 20px;
	text-align: center;
	background-color: yellow;
	border-style: outset;
	border-color: yellow;
	margin: 3px;
}
